@import "navBar.css";
@import "search.css";
@import "notification.css";
@import "post-modal.css";
@import "home-post.css";
@import "home-stories.css";

:root {
    --ig-primary-button:0, 149, 246;
    --ig-primary-button-hover: 24, 119, 242;
    --ig-secondary-background: 250, 250, 250;
    --ig-link: 0, 55, 107;
    --ig-elevated-separator: 219, 219, 219;
    --ig-tertiary-text: 199, 199, 199;
    --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
    --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
    --main-grey: #343a40;
    --second-grey: #495057;
    --lighter-grey: #868e96;
    --second-light-grey: #adb5bd;
    --dark-grey: #222;
    --white-color: #fff;
    --grey-one: #f8f9fa;
    --grey-two: #f1f3f5;
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;;
}

body {
    margin: 0;
}

/* Instagram Feed */
.home-ig{
    height: 100%;
    margin-left: 250px;
    background-color: rgb(var(--ig-secondary-background));
    display: grid;
    grid-template-columns: 505px 355px;
    justify-content: center;
    justify-items: center;
    gap: 25px;
    transition: 0.7s;
}

.logo-phone{
    display: none;
}

.ig-feed{
    width: 100%;
    padding: 45px 5px;
}

.ig-right-side{
    width: 100%;
    padding: 45px 5px;
}

.account-content{
    width: 100%;
    height: 125px;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
}

.profile-pic{
    width: 65px;
    height: 65px;
    border: 1px solid black;
    border-radius: 100%;
}

.username-switchacc{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}

.username-switchacc p:nth-child(1){
    font-weight: 500;
}

.username-switchacc p:nth-child(2){
    cursor: pointer;
    font-weight: 500;
    color: rgb(var(--ig-primary-button))
}
.username-switchacc p:nth-child(2):hover {
    color: rgb(var(--ig-link))
}
.username-switchacc p:nth-child(2):active {
    opacity: .7;
}

.ig-contact p{
    color: rgb(var(--ig-tertiary-text));
    text-decoration: none;
    font-size: 13px;
}

.ig-contact p a:link{
    color: rgb(var(--ig-tertiary-text));
    text-decoration: none;
}

.ig-contact p a:visited{
    color: rgb(var(--ig-tertiary-text));
    text-decoration: none;
}
.ig-contact p a:active {
    opacity: .5;
}

.ig-contact p a:hover{
    text-decoration:underline;
}


@media only screen and (max-width: 1200px) {
    .home-ig{
        height: 100%;
        margin-left: 95px;
        background-color: rgb(var(--ig-secondary-background));
        display: grid;
        grid-template-columns: 505px;
        justify-content: center;
        justify-items: center;
    }

    .ig-right-side{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .home-ig{
        height: 100%;
        margin-left: 0px;
        background-color: var(--white-color);
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        justify-items: center;
    }

    .logo-phone{
        display: block;
        width: 100%;
        height: 50px;
        padding: 0px 10px;
    }

    .ig-feed{
        width: 100%;
        padding: 0px;
    }

    .ig-right-side{
        display: none;
    }
}
