.search{
    /* display: none; */
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    margin: 0;
    padding: 12px;
    transition: 0.7s;
    background-color: white;
    /* border-radius: 0 20px 20px 0; */
}

.search.active{
    /* display: block; */
    width: 350px;
    height: 100vh;
    position: fixed;
    left: 97px;
    top: 0;
    transition: 0.7s;
    z-index: 1;
    margin: 0;
    border-radius: 0 20px 20px 0;
    border-right: 1px solid rgb(226, 226, 226);
    box-shadow: 0px 0px 5px rgb(226, 226, 226);
}