/*@import url(/styles/navBar.css);*/
/*@import url(/styles/notification.css);*/
/*@import url(/styles/post-modal.css);*/
/*@import url(/styles/search.css);*/

@import "navBar.css";
@import "notification.css";
@import "post-modal.css";
@import "search.css";
@import "followers-modal.css";
@import "followings-modal.css";


.user-profile {
    display: flex;
    width: 100%;
    padding: 0;
    position: relative;
    top: 20px;
    justify-content: center;
    gap: 100px;
    overflow: auto;
    margin-bottom: 50px;
}

.user-photo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: relative;
    background-image: url(../photos/user-profile.png);
    background-size: cover;
    background-position: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.username {
    display: flex;
    gap: 30px;
    align-items: center;
}

.username h4 {
    font-weight: 300;
    font-size: 26px;
}

.username span {
    margin-top: 3px;
}

.followers {
    display: flex;
    gap: 30px;
}

#edit-profile {
    width: 100px;
    height: 30px;
    border: none;
    color: black;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
}

.highlights {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    right: 12%;
    margin-bottom: 60px;
    gap: 50px;
}

.profile-highlights {
    display: flex;
    flex-direction: column;
}

.highlights-pic,
.add-highlight {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    border: 4px solid #fafafa;
    outline: 1px solid rgb(211, 211, 211);
    background-image: url(../photos/user-profile.png);
    background-size: cover;
    background-position: center;
}

.add-highlight {
    background-image: none;
}

.add-highlight span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: rgb(178, 178, 178);
}

.highlights p {
    font-weight: 600;
    text-align: center;
    margin-top: 12px;
    font-size: 12px;
}

.profile-line {
    width: 63%;
    height: 0.5px;
    border-radius: 3px;
    background-color: rgb(211, 211, 211);
    margin: 0 0 0 27.5%;
}

.user-posts {
    width: 100%;
    display: flex;
    justify-content: center;
}

#posts {
    display: flex;
    justify-content: center;
    font-size: 14px;
    position: relative;
    left: 80px;
}

#posts::before {
    content: '';
    width: 80px;
    height: 0.5px;
    display: flex;
    border-radius: 3px;
    background-color: gray;
    position: relative;
    left: 78px;
    bottom: 1px;
}

#posts span {
    font-size: 18px;
    font-weight: 300;
    position: relative;
    top: 4px;
    left: 2px;
    margin-right: 10px;
}

.user-feed {
    display: flex;
    gap: 26px;
    position: relative;
    left: 140px;
}

.feed {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    background-image: url("/photos/feed1.jpg");
    background-position: center;
    background-size: cover;
}

.btn-followers {
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #fafafa;
}

.btn-followers:active{
    color: gray;
}


.ig-contact p {
    color: rgb(var(--ig-tertiary-text));
    text-decoration: none;
    font-size: 13px;
}

.ig-contact p a:link {
    color: rgb(var(--ig-tertiary-text));
    text-decoration: none;
}

.ig-contact p a:visited {
    color: rgb(var(--ig-tertiary-text));
    text-decoration: none;
}

.ig-contact p a:active {
    opacity: .5;
}

.ig-contact p a:hover {
    text-decoration: underline;
}

.ig-footer {
    padding: 30px;
}

@media only screen and (max-width: 600px) {
    #posts::before {
        bottom: 0.5px;
    }

    #posts {
        left: -45px;
    }

    .feed {
        width: 130px;
        height: 130px;
        margin-top: 25px;
    }

    .user-feed {
        left: 2px;
        gap: 1px;
    }

    .user-feed > div{
        justify-items: center;
    }

    .user-photo {
        width: 90px;
        height: 90px;
    }

    .user-profile {
        gap: 0;
        flex-direction: column-reverse;
        left: 6px;
        top: 0;
        padding: 10px 0;
        margin-bottom: 30px;
    }

    .ig-footer {
        display: none;
    }

    .add-highlight span {
        font-size: 65px;
    }

    .highlights-pic,
    .add-highlight {
        width: 70px;
        height: 70px;

    }

    .profile-line {
        width: 93%;
        margin: 0 0 0 3.5%;
    }

    .highlights {
        right: 100px;
        gap: 18px;
        padding: 0 0px 20px;
        margin: 0;
    }

    .followers {
        gap: 18px;
        position: relative;
        top: 42px;
        padding-left: 110px;
        font-size: 14px;
    }

    .username {
        position: relative;
        gap: 58px;
    }

    .user-info {
        gap: 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .feed {
        width: 170px;
        height: 170px;
    }

    .user-feed {
        left: 45px;
    }

    .profile-line {
        width: 73%;
        margin: 0px 0 0 20.5%;
    }
    
    .user-profile {
        padding: 20px;
    }

    #posts {
        left: 0;
    }
    
}

@media only screen and (width: 280px) {
    .username h4 {
        font-size: 20px;
    }

    .username {
        gap: 30px;
    }

    .user-photo {
        width: 80px;
        height: 80px;
    }

    .btn-followers {
        font-size: 13px;
    }

    .followers {
        gap: 5px;
        padding-left: 100px;
    }

    .highlights {
        right: 60px;
    }

    .highlights-pic,
    .add-highlight {
        width: 60px;
        height: 60px;
    }

    .add-highlight span {
        font-size: 55px;
    }

    .user-profile {
        margin-bottom: 25px;
    }

    .user-info {
        gap: 0;
    }

    .feed {
        width: 94px;
        height: 94px;
        margin-top: 35px;
    }

    .user-feed {
        left: 3px;
    }

}

@media only screen and (width: 540px) {
    .user-profile {
        left: 0;
    }

    .username {
        justify-content: center;
        gap: 125px;
    }

    .followers {
        gap: 45px;
        padding-left: 170px;
    }

    .user-photo {
        left: 25px;
    }

    .highlights {
        right: 155px;
    }

    .feed {
        width: 170px;
        height: 170px;
    }

    .user-feed {
        left: 0px;
        gap: 8px;
    }
    
}

@media only screen and (width: 912px) {
    .feed {
        width: 225px;
        height: 225px;
    }

    .profile-line {
        width: 84%;
        margin: 0px 0 0 13.5%;
    }

    .highlights-pic, .add-highlight {
        width: 115px;
        height: 115px;
    }

    .add-highlight span {
        font-size: 110px;
    }

    .user-photo {
        width: 175px;
        height: 175px;
    }

    .followers {
        gap: 55px;
    }
}

@media only screen and (width: 1024px) {
    .followers {
        gap: 60px;
    }

    .profile-line {
        width: 80%;
        margin: 0px 0 0 14.5%;
    }
    
    .feed {
        width: 250px;
        height: 250px;
    }

    .highlights {
        right: 22%;
    }
}

@media only screen and (width: 1280px) {
    .feed {
        width: 255px;
        height: 255px;
    }

    .profile-line {
        width: 67%;
    }
}
